#dir mc/car4.a
#dir mc/snake7.a
#dir mc/pyramid.o
#dir mc/twowheeler.a
dir mc/walker.a
symbols mc/default_symbols.config
button !atron:connect
#button !odin:connect
button !atron:receive_start
#button !odin:receive_start
#button receive_stop
button ussr_on
connection atron .a ASETOS sf@localhost:9000 localhost:9899
#connection odin .o PADDED sf@localhost:9001 null
script ledTest=send,255,4,255:%1000:send,255,4,1
script start=send,255,1,0
script pause=send,255,1,1
script home-all=send,255,3,8
script snakeMove=send,255,3,2
script assignIDs=send,254,2:%1000:send,255,3,1
script snake->quad=send,255,3,3
script quad->snake=send,255,3,7
script quadMove=send,255,3,4
script disconnect-all=send,255,3,9
script SR-reset=send,255,3,10
#script quad=!atron:connect:ussr_on:send,255,1,0:%1000:send,124,2:%1000:send,255,3,1:%1000:send,255,3,3
